PORT=3000
FRONTEND_URL=https://proyectoyoga-production.up.railway.app

DB_HOST=localhost
DB_PORT=3306
DB_USER=yoga_user
DB_PASSWORD=tu_password_aqui
DB_NAME=yoga_tierra_viva

JWT_SECRET=cambia_esto_por_una_clave_secreta_larga
JWT_EXPIRES_IN=7d

ADMIN_EMAIL=admin@yogatierraviva.es
ADMIN_PASSWORD=Admin1234.

# Email (SMTP)
SMTP_HOST=mail.emrider.es
SMTP_PORT=587
SMTP_USER=info@emrider.es
SMTP_PASS=tu_password_smtp
SMTP_FROM=Yoga Tierra Viva <info@emrider.es>
